@import url("../colors.css");

* {
    all: unset;
}

window.bar {
    background-color: @background-darker;
    color: @foreground;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-weight: bold;
}

.workspaces {
    background-color: blue;
    border-radius: 10px;
}

.workspaces button {
    background-color: rgb(150, 150, 150);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.workspaces button.focused {
    background-color: white;
    padding: 7px 10px;
    margin: 5px;
    border-radius: 10px;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}
